<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script defer type="text/javascript" src="{{ url_for('static', filename='js/my_script.js') }}"></script>
    <title>Welcome!</title>
</head>
<body>
    <div class="navigation fixed-top">
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <div>
                    {% if not active_user %}
                        <a href="/login" class="navbar-brand">Welcome! Click here to Login and Register</a>
                    {% else %}
                        <a class="navbar-brand" href="/profile/{{active_user.first_name}}{{active_user.last_name}}/{{active_user.id}}">Welcome {{ active_user.first_name }}!</a>
                        <a class="btn btn-outline-success" href="/logout">Logout</a>
                    {% endif %}
                </div>
                <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </nav>
        <div class="container">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="\">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/continent/europe">Europe</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/continent/asia">Asia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/continent/africa">Africa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/continent/north-america">North America</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/continent/south-america">South America</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/continent/oceania">Oceania</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/continent/antarctica">Antarctica</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/allcountries">All Countries</a>
                </li>
            </ul>
        </div>
    </div>


    
    <div class="edit-cont index container overflow-hidden main-mult">
        <div class="edit-cont p-3 border bg-light">
            <form action="/report/country" method="post">
                <div class="mb-3">
                    <!-- <label for="code" class="mb-0 form-label">* Code:</label> -->
                    <!-- <p>{{ get_flashed_messages(category_filter=["registration-error"])[0] }}</p> -->
                    <input name="code" type="text" class="form-control" value="{{country.code}}" hidden>
                </div>
                <div class="mb-3">
                    <label for="name" class="mb-0 form-label">* Name:</label>
                    <!-- <p>{{ get_flashed_messages(category_filter=["registration-error"])[1] }}</p> -->
                    <input name="name" type="text" class="form-control" value="{{country.name}}">
                </div>
                <div class="mb-3">
                    <label for="capital" class="mb-0 form-label">* Capital:</label>
                    <input name="capital" type="text" class="form-control" value="{{country.capital.name}}">
                </div>
                <div class="mb-3">
                    <label for="continent" class="mb-0 form-label">* Continent:</label>
                    <!-- {{ get_flashed_messages(category_filter=["registration-error"])[2] }} -->
                    <input name="continent" type="text" class="form-control" value="{{country.continent}}">
                </div>
                <div class="mb-3">
                    <label for="region" class="mb-0 form-label">* Region:</label>
                    <!-- <p>{{ get_flashed_messages(category_filter=["registration-error"])[3] }}</p> -->
                    <input name="region" type="text" class="form-control" value="{{country.region}}">
                </div>
                <div class="mb-3">
                    <label for="surface_area" class="mb-0 form-label">* Surface Area(In square kilometers):</label>
                    <input name="surface_area" type="text" class="form-control" value="{{country.surface_area}}">
                </div>
                <div class="mb-3">
                    <label for="indep_year" class="mb-0 form-label">* Independence Year:</label>
                    <input name="indep_year" type="text" class="form-control" value="{{country.indep_year}}">
                </div>
                <div class="mb-3">
                    <label for="population" class="mb-0 form-label">* Population:</label>
                    <input name="population" type="text" class="form-control" value="{{country.population}}">
                </div>
                <div class="mb-3">
                    <label for="life_expectancy" class="mb-0 form-label">* Life Expectancy:</label>
                    <input name="life_expectancy" type="text" class="form-control" value="{{country.life_expectancy}}">
                </div>
                <div class="mb-3">
                    <label for="gnp" class="mb-0 form-label">* GNP:</label>
                    <input name="gnp" type="text" class="form-control" value="{{country.gnp}}">
                </div>
                <div class="mb-3">
                    <label for="gnp_old" class="mb-0 form-label">* Old GNP:</label>
                    <input name="gnp_old" type="text" class="form-control" value="{{country.gnp_old}}">
                </div>
                <div class="mb-3">
                    <label for="local_name" class="mb-0 form-label">* Local Name:</label>
                    <input name="local_name" type="text" class="form-control" value="{{country.local_name}}">
                </div>
                <div class="mb-3">
                    <label for="government_form" class="mb-0 form-label">* Government Form:</label>
                    <input name="government_form" type="text" class="form-control" value="{{country.government_form}}">
                </div>
                <div class="mb-3">
                    <label for="head_of_state" class="mb-0 form-label">* Head of State:</label>
                    <input name="head_of_state" type="text" class="form-control" value="{{country.head_of_state}}">
                </div>
                <div class="mb-3">
                    <label for="code2" class="mb-0 form-label">* Two Letter Code:</label>
                    <input name="code2" type="text" class="form-control" value="{{country.code2}}">
                </div>
                <div class="text-center"><button type="submit" class="register-btn btn btn-primary">Report</button></div>
            </form>
        </div>
    </div>





    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>
</html>