.register-cont {
    width: 700px;
}

.login-cont {
    width: 500px;
}

.login-btn {
    width: 150px;
}

.register-btn {
    width: 150px;
}

.vertical-align {
    margin: auto 0;
}

.main-info {
    width: 65%;
}

.flag {
    max-width: 225px;
    max-height: 150px;
}